html {
  font-size: 10px;
  font-family: 'Asap Condensed', sans-serif;
}
h1 {
  font-size: 60px;
  text-align: center;
}
p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #239323;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #C4E2C4;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #000000;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
}
a {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
